@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

/* Aplicando a fonte em todo o documento */
* {
    font-family: 'Creepster', cursive;
}

/* Estilização do cabeçalho */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #030917;
    color: white;
}

/* Container do logo */
.logo-container {
    flex: 1;
    display: flex;
    align-items: center;
}

/* Logo */
.header-logo {
    max-width: 100px;
    max-height: 100px;
    height: auto;
}

/* Navegação */
nav {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Links de navegação */
.nav-link {
    padding: 8px 16px;
    background-color: #f66020;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    margin: 0 20px;
}

/* Container da barra de pesquisa */
.search-container {
    flex: 3;
    display: flex;
    justify-content: center;
}

/* Formulário de pesquisa */
.search-form {
    display: flex;
    align-items: center;
}

/* Input de pesquisa */
.search-input {
    width: 100%;
    padding: 8px;
    border-radius: 20px;
    margin-right: 10px;
}

/* Botão de pesquisa */
.search-button {
    padding: 8px 16px;
    background-color: #f66020;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #f67240;
}

/* Container de logout */
.logout-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* Botão de logout */
.logout-button {
    padding: 8px 16px;
    background-color: #f66020;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

/* Estilização do ícone do menu hambúrguer */
.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: white;
}

/* Responsividade para tablets */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .nav-link,
    .logout-button {
        margin: 5px 0;
    }

    .menu-icon {
        display: block;
    }

    nav {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-active {
        display: flex;
    }

    .search-container, .logout-container {
        width: 100%;
    }
}

/* Responsividade para dispositivos móveis */
@media (max-width: 480px) {
    .header-logo {
        width: 80px;
        height: 80px;
    }

    .nav-link, .logout-button {
        font-size: 14px;
        padding: 6px 12px;
    }

    .search-input {
        padding: 6px;
        font-size: 14px;
    }

    .search-button {
        padding: 6px 12px;
        font-size: 14px;
    }
}
