@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

* {
  font-family: 'Creepster', cursive; /* ou 'Nosifer', cursive; */
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #030917; /* Cor de fundo do cabeçalho */
  color: white;
}

.logo-container {
  flex: 1; /* Permite que o container do logo cresça */
  display: flex;
  align-items: center;
}

.header-logo {
  max-width: 100px; /* Ajuste conforme necessário */
  max-height: 100px; /* Ajuste conforme necessário */
  height: auto;
}

nav {
  flex: 2; /* Aumenta a flexibilidade da navegação para centralizar os botões */
  display: flex;
  justify-content: center; /* Centraliza os botões da navegação */
  align-items: center;
}

.nav-link {
  padding: 8px 16px;
  background-color: #f66020; /* Cor do botão */
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  margin: 0 20px; /* Aumenta a margem para separar os botões */
}

.search-container {
  flex: 3; /* Dá mais espaço para a barra de pesquisa */
  display: flex;
  justify-content: center;
}

.search-input {
  width: 100%;
  padding: 8px;
  border-radius: 20px;
}

.logout-container {
  flex: 1; /* Permite que o container do logout cresça */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logout-button {
  padding: 8px 16px;
  background-color: #f66020; /* Cor do botão de logout */
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

@media (max-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
  }

  .header-logo,
  .nav-link,
  .search-input,
  .logout-button {
    padding: 4px 8px; /* Reduz o padding para economizar espaço */
    font-size: smaller; /* Reduz o tamanho da fonte para economizar espaço */
  }

  .nav-link,
  .logout-button {
    margin-left: 5px; /* Reduz a margem entre os botões */
  }
}
