body {
  background-color: #000; /* Fundo preto */
  color: #fff; /* Texto branco */
  font-family: "Arial", sans-serif; /* Exemplo de fonte */
  margin: 0;
  padding: 0;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Espaçamento entre os cartões de filmes */
  padding: 20px;
}

.movie {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 200px; /* Largura fixa para desktop */
}

.trailer-button {
  position: flex; /* Ajuste conforme necessário para a posição vertical */
  margin-right: 1000px; /* Ajuste conforme necessário para a posição horizontal */
  width: 130px; /* Ajuste conforme necessário para a largura da imagem */
  height: auto;
  cursor: pointer;
  /* Adicione mais estilos de acordo com suas preferências */
}

.movie h3 {
  margin: 10px;
  font-size: 1.2em;
  text-align: center;
}

.movie img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.movie.watched {
  /* Estilo para filmes assistidos */
  background-color: rgba(0, 255, 0, 0.3); /* Exemplo: verde claro */
}

.movie.notWatched {
  /* Estilo para filmes não assistidos */
  background-color: rgba(255, 0, 0, 0.3); /* Exemplo: vermelho claro */
}


/* Estilos para tablets */
@media (max-width: 768px) {
  .movie {
      width: 150px; /* Largura menor para tablets */
  }
}

/* Estilos para dispositivos móveis */
@media (max-width: 480px) {
  .movies-container {
      justify-content: space-around;
  }

  .movie {
      width: 100%; /* Largura total em dispositivos móveis */
  }

  .movie img {
      height: 200px; /* Altura fixa para imagens em dispositivos móveis */
  }
}
