/* InfoPage.css */

.filme-info-container {
  width: 100%;
}

.movie-synopsis {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-right: 900px;
}

.movie-info {
  display: flex;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.halloween {
  width: 300px;
  height: 450px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 8px;
}

.movie-info div {
  flex: 1;
  max-width: 800px;
}

.movie-info h2 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #fff;
}

video {
  width: 1000px;
  border-radius: 8px;
  height: 500px;
}

.trailer-container {
  margin-left: 110px;
}

.buttons-container {
  display: flex;
  margin-top: 20px;
}

.watched-button,
.not-watched-button {
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
}

.watched-button {
  background-color: green;
}

.not-watched-button {
  background-color: red;
}

/* Adicione esta regra de mídia para telas menores */
@media screen and (max-width: 768px) {
  .movie-info {
    flex-direction: column; /* Altera a direção do flex container para coluna */
    align-items: center; /* Centraliza os itens na coluna */
  }

  .trailer-container {
    margin-top: 20px; /* Adiciona margem superior para separar o vídeo dos itens acima */
    margin-left: 0; /* Remove a margem à esquerda */
  }

  .responsive-video {
    width: 100%; /* Tornando o vídeo 100% da largura do contêiner para telas menores */
    height: auto; /* Ajustando automaticamente a altura para manter a proporção */
    border-radius: 8px;
  }
}