/* InfoPage.css */

.filme-info-container {
  width: 100%;
}

.movie-synopsis {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.movie-info {
  display: flex;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-image {
  width: 300px;
  height: 450px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.movie-image:hover {
  transform: scale(1.1);
}

.trailer-container iframe {
  width: 500px;
  height: 500px; /* Altura ajustada para ser maior */
  border-radius: 8px;
  margin-left: 80px; /* Margem esquerda removida */
  margin-top: 0px;
}

.trailer-container {
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%; /* Faz o container ocupar toda a largura disponível */
}

.responsive-video {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.buttons-container {
  display: flex;
  margin-top: 20px;
}

.watched-button,
.not-watched-button {
  border: 2px solid transparent;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
  text-shadow: 1px 1px 2px black;
}

.watched-button {
  background-color: #006400;
  color: white;
}

.not-watched-button {
  background-color: #8B0000;
  color: white;
}

.watched-button:hover,
.not-watched-button:hover {
  border-color: currentColor;
  color: yellow;
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .movie-info {
    flex-direction: column;
    align-items: center;
  }

  .movie-info h2 {
    font-size: 24px;
  }

  .movie-image {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  .trailer-container iframe {
    width: 100%;
    height: 300px; /* Altura ajustada para telas menores */
  }

  .buttons-container {
    flex-direction: column;
  }

  .watched-button,
  .not-watched-button {
    margin-bottom: 10px;
  }
}
