/* InfoPage.css */

.filme-info-container {
  width: 100%;
}

.movie-synopsis {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-right: auto; /* Centralizado */
}

.movie-info {
  display: flex;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-info div {
  flex: 1;
  max-width: 800px;
}

.movie-info h2 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #fff;
}

.trailer-container {
  margin-top: 20px;
  width: 100%;
}

.video-container iframe {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.buttons-container {
  display: flex;
  margin-top: 20px;
}

.watched-button,
.not-watched-button {
  border: 2px solid transparent;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  color: white;
}

.watched-button {
  background-color: #4CAF50;
}

.not-watched-button {
  background-color: #f44336;
}

.watched-button:hover,
.not-watched-button:hover {
  background-color: transparent;
  border-color: currentColor;
  color: black;
}

/* Responsividade para telas menores */
@media screen and (max-width: 768px) {
  .movie-info {
    flex-direction: column;
    align-items: center;
  }

  .movie-info h2 {
    font-size: 24px;
  }

  .trailer-container {
    margin-left: 0;
  }

  .buttons-container {
    flex-direction: column;
  }

  .watched-button,
  .not-watched-button {
    margin-bottom: 10px;
  }
}
