@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

body {
  margin: 0;
  font-family: 'Creepster', cursive; /* ou 'Nosifer', cursive; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Creepster', cursive; /* ou 'Nosifer', cursive; */
}
